---
import type { AstroComponentFactory } from "astro/dist/runtime/server";
import { getCollection } from "astro:content";

import type { Snippet } from "../content/config";
import Head from "../components/Head.astro";

export async function getStaticPaths() {
  const snippets = await getCollection("snippets");

  return snippets.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: {
    body: string;
    data: Snippet;
    render(): Promise<{ Content: AstroComponentFactory }>;
  };
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Head title={entry.data.title} description={entry.data.description} />
<h1>{entry.data.title}</h1>
<Content />
