---
import type { InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";

import Head from "../components/Head.astro";

export async function getStaticPaths() {
  const snippets = await getCollection("snippets");

  return snippets.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Head title={entry.data.title} description={entry.data.description} />
<h1>{entry.data.title}</h1>
<Content />
