---
import Head from "../components/Head.astro";
---

<html lang="en">
  <Head
    title="nexxel | snippets"
    description="nexxel likes these code snippets"
  />
  <body>
    <div class="bg-#0e0e0e p-8 rounded">
      <h1>Astro</h1>
    </div>
  </body>
</html>
