---
import "@unocss/reset/tailwind.css";
import "../styles/globals.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="bg-#0e0e0e p-8 rounded">
      <h1>Astro</h1>
    </div>
  </body>
</html>
