---
export interface Props {
  title: string;
  description: string;
  slug: string;
  language: string;
}

const { description, language, title, slug } = Astro.props;
---

<div
  class="flex flex-col gap-2 bg-#0e0e0e rounded-md p-4 text-left border-(1 #e5e5e5 opacity-10)"
>
  <a href={`/${slug}`} class="">
    <span
      class="text-#aac9d4 text-lg md:text-xl font-bold hover:(underline underline-offset-4)"
      >{title}</span
    >
  </a>

  <p class="text-base md:text-lg">{description}</p>

  <span class="text-sm md:text-base">Language: {language}</span>
</div>
